<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create product</title>

    <th:block th:replace="cp/layout/head :: style-meta"/>

    <th:block th:replace="cp/layout/head :: style-app"/>

    <style>
        .header-title {
            color: green;
        }
    </style>

</head>

<body>

<!-- Begin page -->
<div id="wrapper">

    <!-- Topbar Start -->
    <th:block th:replace="cp/layout/navbar-custom"/>
    <!-- end Topbar -->

    <!-- ========== Left Sidebar Start ========== -->
    <th:block th:replace="cp/layout/left-side-menu"/>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                    <li class="breadcrumb-item active">Create product</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Create product</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <th:block th:if="${success}">
                            <div class="card-box">
                                <h4 class="header-title" th:text="${message}"></h4>
                            </div>
                        </th:block>
                        <div class="card-box">
                            <form class="parsley-form" method="post">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="title">Tên sản phẩm<span class="text-danger">*</span></label>
                                            <input type="text" name="title" placeholder="Tên sản phẩm..."
                                                   class="form-control" id="title">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="price">Giá<span class="text-danger">*</span></label>
                                            <input type="number" name="price" placeholder="Giá..." class="form-control"
                                                   id="price">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="unit">Đơn vị<span class="text-danger">*</span></label>
                                            <input type="text" placeholder="Đơn vị..." class="form-control" name="unit"
                                                   id="unit">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="category">Danh mục<span
                                                    class="text-danger">*</span></label>
                                            <select id="category" name="category" class="form-control">
                                                <th:block th:each="item : ${categories}">
                                                    <option th:value="${item.id}" th:text="${item.title}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group text-right mb-0">
                                        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                            Thêm mới
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div> <!-- end card-box -->
                    </div>
                    <!-- end col -->
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        <!-- Footer Start -->
        <th:block th:replace="cp/layout/footer"/>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->


<!-- Right Sidebar -->
<th:block th:replace="cp/layout/right-bar"/>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<th:block th:replace="cp/layout/script :: script-vendor"/>

<th:block th:replace="cp/layout/script :: script-app"/>

</body>
</html>